.container {
  width: 420px;
  padding: 1.5rem;
  margin: 10px;
  background-color: #f5f5f8;
  color: black;
  height: 12.5vh;
  box-shadow: 5px 7px #ff00b3;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}
