.accordion {
  width: 500px;
  margin-bottom: 5px;
}

.accordion.active {
  border: 1px solid #00b3ff;
}

.box {
  background-color: #17161a;
  padding: 10px 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.contentshow {
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.chevron {
  color: #00b3ff;
}

.chevanimate {
  transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .accordion {
    width: 350px;
  }
  .mobilespace {
    padding-right: 10px;
  }
}
